* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
}

.link-referencia {
  background-color: rgb(240, 199, 16);
  color: #000;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.link-referencia:hover {
  text-decoration: underline;
  color: #fff;
}

.contenedor-principal {
  text-align: center;
  height: 100vh;
}

/* .contenedor-principal p {
  font-size: 18px;
  width: 400px;
} */
.contenedor-clases {
  height: 100vh;
  background-color: rgb(230, 202, 113);
}

.imagen-perfil {
  border-radius: 50%;
  border: 2px solid #000;
}

.btn-github {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.imagen-programador {
  border-radius: 12px;
  margin-top: 40px;
}
