body {
  font-family: Helvetica;
}

.link-referencia {
  background-color: rgb(240, 199, 16);
  color: #000;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.link-referencia:hover {
  text-decoration: underline;
  color: #fff;
}

.contenedor-principal {
  text-align: center;
}

/* .contenedor-principal p {
  font-size: 18px;
  width: 400px;
} */

.imagen-perfil {
  border-radius: 50%;
  border: 2px solid #000;
}

.btn-github {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
