.card-custom-body {
  height: 45vh !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}
