//* Una de la formas de importar un scss es usando el @import
//* Una vez que importamos nuestro archivo ya podemos usar
//* sus variable, funciones, bucles
@import "./variables.scss";

body {
  margin: $padding-1;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: $color-princial;
}

h1 {
  color: $color-red;
  padding: $padding-1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

//* mixins en SASS
//* Son un tipo de funcion la cual nos permite
//* almacenar un codigo y poder reutilizarlo
//* podemos pasarle variable

//* La idea pasar esto a un mixin y el color de fondo sea una variable
// El nombre puede ser cualquiera
@mixin alertita($bg: green, $color-text: #fff) {
  background-color: $bg;
  padding: $padding-1;
  border-radius: $padding-1;
  color: $color-text;
  margin-bottom: $padding-1;
}

.success {
  // aca en vez de hacer el estilo una y otra solo deberia llamar al mixin
  @include alertita;
}

.info {
  @include alertita($bg: rgb(37, 194, 241));
}

.warning {
  @include alertita($bg: rgb(229, 245, 87));
}

.danger {
  @include alertita($bg: rgb(255, 110, 110));
}

// ASI COMO LOS MIXIN retornan una porcio tambien pueden retornar una clase directo
@mixin generate-icons($name, $icon, $color, $size) {
  
}
