$primary-color: hsl(180, 29%, 50%);
$bg-color: hsl(180, 52%, 96%);
$ligth-color: hsl(180, 31%, 95%);
$dark-color: hsl(180, 8%, 52%);
$very-dark-color: hsl(180, 14%, 20%);
$white-color: #fff;

body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
  background-color: $bg-color;
}

.header {
  background: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary-color;
  width: 100%;
  height: 15vh;
}

.card {
  width: 80%;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 30px;
  // margin-bottom: 30px;
  margin: 30px auto;
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: $white-color;
  border-radius: 12px;
  border-left: 5px solid $primary-color;
}

@mixin column($width: 10%, $i: 1) {
  .column-#{$i} {
    width: $width;
  }
}

@include column;
@include column($width: 50%, $i: 2);
@include column($width: 40%, $i: 3);

@mixin badge($bg-color) {
  text-transform: uppercase;
  color: $white-color;
  background-color: $bg-color;
  border-radius: 10px;
  font-size: 12px;
  padding: 3px;
  padding-top: 5px;
}

.bagde-primary {
  @include badge($bg-color: $primary-color);
}

.bagde-secondary {
  @include badge($bg-color: $very-dark-color);
}

.title {
  color: $primary-color;
  font-weight: 700;
}

.text-dark {
  font-size: 13px;
  color: hsl(180, 8%, 52%);
}

.skill {
  color: $primary-color;
  font-size: 13px;
  font-weight: 600;
  background-color: rgba($primary-color, 0.3);
  padding: 8px;
  border-radius: 4px;
}
