* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  /* en esta propiedad yo puede 
  definir el numero de culumnas que quiero 
  mostrar
  auto : va a tomar to espacio libre y por 
  cada seccion que escriba es una columna */
  grid-template-columns: auto auto auto auto;
  /* grid-template-rows: 100px auto auto 50px; */
  grid-template-rows: auto auto auto auto;
  /* grid-template: auto auto auto auto; */
  /* align-items: center; */
  /* justify-content: center; */
}

.container div {
  padding: 10px;
  font-size: 2em;
  text-align: center;
}

.item1 {
  background-color: aqua;
  /* grid column se hereda porque estos
  elementos estan dentro un grid */
  /* esto cuenta el numero de lineas */
  /* grid-column: 1 / 4; */
  border: rgb(4, 0, 255) solid 14px;
  grid-row: 1 / 2;
}

.reset {
  border: solid;
  /* grid-column: 1 / 3; */
  grid-column: 1 / span 2;
}

.equal {
  border: solid red;
  /* grid-column: 3 / 5; */
  grid-column: 3 / span 2;
}

.item2 {
  background-color: red;
  grid-row: 1 / 3;
}

.item3 {
  background-color: yellow;
  grid-row: 1 / 4;
}

.item4 {
  background-color: green;
  grid-row: 1 / 7;
}

.item {
  border: solid;
}
