* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto 30% auto;
  grid-template-rows: auto auto;
  text-align: center;
  height: 100vh;
}

.container div {
  border: solid;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}

p {
  font-size: 13px;
}

.item1 {
  grid-column: 1 / 3;
}

.item2 {
  grid-column: 3 / 4;
}

.item3 {
  background-color: rgb(43, 226, 43);
  grid-column: 4/5;
  grid-row: 1/3;
}

.item5 {
  grid-column: 2 / 4;
}
