* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/** recordermos que en
** el mundo del desarrollo un "*" es
** todo */
.grid-container > * {
  padding: 20px;
  border: solid;
  text-align: center;
}

.grid-container {
  height: 100vh;
  display: grid;

  grid-template-columns: 200px auto 200px;
  grid-template-rows: 100px auto 100px;
  /* ** grid-template-areas */
  /* sirve para asignar un nombre a 
  las columans y filas */
  grid-template-areas:
    "header  header   sidebar"
    "navbar  main     sidebar"
    "footer  footer   sidebar"
    /* "main    main    main" */
    /* "sidebar sidebar sidebar" */;
}

.header {
  -color: aqua;
  grid-area: header;
}

.nav {
  background-color: rgb(255, 105, 105);
  grid-area: navbar;
}

.aside {
  background-color: rgb(108, 253, 120);
  grid-area: sidebar;
}

.container {
  background-color: blueviolet;
  grid-area: main;
}

.footer {
  background-color: rgb(238, 105, 255);
  grid-area: footer;
}
