* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.main-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul > li {
  margin: 10px;
}

.section-principal {
  display: flex;
  /* por default flex alinea los elemento en fila (row) */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  flex-direction: row;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
}

.section-principal div {
  width: 20%;
}

.section-principal div p {
  border: 4px solid #f01;
}

.section-dos {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  align-items: center;
  /* align-items: flex-end; */
  /* align-items: stretch; */
  /* align-items: baseline; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;
  border: 4px solid rgb(0, 255, 136);
  height: 50vh;
}

.section-dos div {
  border: solid 2px blue;
  height: 10vh;
  background-color: chocolate;
}

.flex-grow {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 4;
}

.flex-shrink {
  flex-shrink: 1;
  background-color: green !important;
}
