* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.nav div {
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.button-free {
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid hsl(321, 100%, 78%);
  border-radius: 16px;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  color: hsl(321, 100%, 78%);
}

.section-one {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 4em;
  color: hsl(192, 100%, 9%);
  text-transform: capitalize;
}

.text-normal {
  width: 40%;
  margin: auto;
  padding-top: 40px;
  /* padding-bottom: 40px; */
  font-size: 18px;
}

.button-pink {
  margin-top: 40px;
  padding: 30px;
  padding-right: 70px;
  padding-left: 70px;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  box-shadow: 10px 4px 5px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 10px 4px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 10px 4px 5px 0px rgba(0, 0, 0, 0.16);
}

.section-two {
  display: flex;
  justify-content: center;
}

.section-three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}

.numbers {
  font-size: 3.5em;
  color: hsl(192, 100%, 9%);
}

.text-secondary {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.background-top {
  background: url("../../imagenes/reto2/bg-section-top-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}

.background-bottom {
  background: url("../../imagenes/reto2/bg-section-bottom-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}

.section-four {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  background-color: hsl(207, 100%, 98%);
}

.section-four div:first-child {
  width: 50%;
}

.img-desktop {
  width: 500px;
}

.title-sections {
  margin-bottom: 20px;
  font-size: 3em;
  text-transform: capitalize;
  text-align: left;
  /* text-align: justify; */
}

.text-sections {
  width: 60%;
  text-align: left;
}

.section-five {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.section-five div {
  width: 50%;
  text-align: center;
}

.background-top-dark {
  background: url("../../imagenes/reto2/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}

.footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: space-evenly;
}

.footer div {
  padding: 30px;
}

.footer div p {
  padding: 20px;
}

.logo-white {
  filter: brightness(0) invert(1);
}

.text-footer {
  width: 45%;
}

.title-footer {
  font-size: 1.5em;
  margin-left: 18px;
  text-transform: uppercase;
}

.input-footer {
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 200px;
}

.button-footer {
  background-color: hsl(322, 100%, 66%);
  margin-left: 20px;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 550;
}

/* Style for resposive design */

@media only screen and (max-width: 480px) {
  .title {
    font-size: 2em;
  }

  .text-normal {
    width: 80%;
  }

  .img-mockup {
    width: 400px;
  }

  .section-three {
    flex-direction: column;
  }

  .section-four {
    flex-direction: column-reverse;
    height: 100vh;
    justify-content: center;
  }

  .section-five {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  .img-desktop {
    width: 300px;
  }

  .title-sections {
    width: 100%;
    font-size: 2em;
    border: solid;
  }

  .text-sections {
    width: 100%;
    border: solid;
  }
}
