* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
  height: 100vh;
  grid-template-areas:
    "menu   navbar"
    "menu   content";
}

.container-tema {
  margin: 30px;
  margin-bottom: 30px;
}

.container-tema ul {
  list-style: none;
}

.container-tema ul > li a {
  color: rgb(161, 161, 161);
  text-decoration: none;
}

.grid-container > div {
  border: solid 1px #ccc;
}

.item1 {
  grid-area: menu;
  background-color: #0a192a;
}
.item2 {
  grid-area: navbar;
  background-color: #0a192a;
}
.item3 {
  grid-area: content;
  background-color: #0a192a;
}

.document-container {
  margin: 30px;
  margin-bottom: 30px;
}

.document-container * {
  padding: 12px;
}

.code-container {
  background-color: rgb(0, 30, 60);
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 70%;
  margin-left: 12px;
}
