body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 4px;
}

button {
  background-color: rgb(204, 149, 255);
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.input-email {
  margin-bottom: 2px;
}

.text-error {
  color: red;
  font-size: 12px;
  margin-bottom: 20px;
  display: none;
}
