* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
}

.header {
  background-color: #40bfff !important;
  background: url("../images/desktop/image-header.jpg");
  height: 60vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav div {
  padding: 20px;
}

.menu-nav {
  display: flex;
  list-style: none;
}

.menu-nav li {
  padding-right: 30px;
}

.menu-nav li a {
  text-decoration: none;
  color: #fff;
}

.btn-contact {
  font-family: "Fraunces", serif;
  background-color: hsl(0, 0%, 100%);
  color: #000 !important;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-weight: 600;
}

.content-title {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.content-title h1 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50vh 50vh 50vh 70vh 30vh;
  grid-template-areas:
    "transform transform transform-image transform-image"
    "standout-image standout-image standout standout"
    "cherry cherry orange orange"
    "testimonial testimonial testimonial testimonial"
    "milk orange-plate ice build";
}

.item1 {
  grid-area: transform;
}

.item2 {
  background-color: hsl(51, 100%, 49%) !important;
  background: url("../images/desktop/image-transform.jpg");
  grid-area: transform-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item3 {
  background-color: hsl(7, 99%, 70%) !important;
  background: url("../images/desktop/image-stand-out.jpg");
  grid-area: standout-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item4 {
  grid-area: standout;
}

.container-text {
  width: 40%;
  margin: auto;
}

.container-text * {
  margin-bottom: 20px;
}

.container-text h2 {
  font-family: "Fraunces", serif;
  font-size: 2.2em;
}

.container-text p {
  color: hsl(213, 9%, 39%);
}

.container-text a {
  font-family: "Fraunces", serif;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.learn-yellow {
  border-bottom: solid 5px hsl(51, 100%, 49%);
}

.learn-red {
  border-bottom: solid 5px hsl(7, 99%, 70%);
}

.container-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}

.container-text-bottom * {
  margin-bottom: 30px;
}

.container-text-bottom h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.letter-green {
  color: #24544c;
}

.letter-blue {
  color: #19566d;
}

.container-text-bottom p {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.item5 {
  background-color: rgb(151, 214, 199) !important;
  background: url("../images/desktop/image-graphic-design.jpg");
  grid-area: cherry;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item6 {
  background-color: rgb(78, 191, 255) !important;
  background: url("../images/desktop/image-photography.jpg");
  grid-area: orange;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item7 {
  grid-area: testimonial;
}

.item8 {
  grid-area: milk;
  background: url("../images/desktop/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item9 {
  grid-area: orange-plate;
  background: url("../images/desktop/image-gallery-orange.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item10 {
  grid-area: ice;
  background: url("../images/desktop/image-gallery-cone.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item11 {
  grid-area: build;
  background: url("../images/desktop/image-gallery-sugarcubes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
