* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
}

.header {
  background-color: #40bfff !important;
  background: url("../images/desktop/image-header.jpg");
  height: 60vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav div {
  padding: 20px;
}

.menu-nav {
  display: flex;
  list-style: none;
}

.menu-nav li {
  padding-right: 30px;
}

.menu-nav li a {
  text-decoration: none;
  color: #fff;
}

.btn-contact {
  font-family: "Fraunces", serif;
  background-color: hsl(0, 0%, 100%);
  color: #000 !important;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-weight: 600;
}

.content-title {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.content-title h1 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50vh 50vh;
  grid-template-areas:
    "transform transform-image"
    "standout-image standout";
}

.item1 {
  grid-area: transform;
}

.item2 {
  background-color: hsl(51, 100%, 49%) !important;
  background: url("../images/desktop/image-transform.jpg");
  grid-area: transform-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item3 {
  background-color: hsl(7, 99%, 70%) !important;
  background: url("../images/desktop/image-stand-out.jpg");
  grid-area: standout-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item4 {
  grid-area: standout;
}

.container-text {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
}
